<div class="row m-2">
    <div class="col-12">
        <div class="card mb-5">
            {{> nav-link navigation=navigation}}
        </div>

        <main>
            <h1>{{header}}</h1>

            <div class="row-12">
                <div class="col m-3">
                    {{#with purchase}}
                    <div class="col-6 mb-3">
                        <div class="nav nav-tabs">
                            {{#each tabs}}
                            <div class="nav-item">
                                <a class="nav-link{{#if isActive}} active{{/if}}" href="#">{{this}}</a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div classs="row">
                        {{#with actionBlock}}
                        <div class="col-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{input.placeholder}}">
                            </div>
                            {{#each buttons}}
                            {{#if isSuccess}}
                            <button class="btn btn-success btn-sm">
                                <a href="{{link}}" class="nav-link">
                                    {{text}}
                                </a>
                            </button>
                            {{else if isOutline}}
                            <button class="btn btn-outline-success btn-sm">
                                <a href="{{link}}" class="nav-link">
                                    {{text}}
                                </a>
                            </button>
                            {{else if isDanger}}
                            <button class="btn btn-outline-danger btn-sm">
                                <a href="{{link}}" class="nav-link">
                                    {{text}}
                                </a>
                            </button>
                            {{/if}}
                            {{/each}}
                        </div>
                        {{/with}}
                    </div>
                </div>
                <hr>

                <div>
                    {{#each itemList}}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div>{{number}}</div>
                                    <h5>{{status}}</h5>
                                </div>
                                <div class="col-md-2 mt-1">
                                    <ol>
                                        {{amount.title}}:
                                    </ol>
                                    <ol>
                                        <strong>{{amount.value}}</strong>
                                    </ol>
                                </div>

                                <div class="col-md-5 mb-3">
                                    {{#each images}}
                                    <img src="{{this}}" alt="Image">
                                    {{/each}}
                                </div>
                                <div class="col-md-2">
                                    <a href="{{button.link}}"
                                        class="btn btn-{{#if button.isPrimary}}primary{{else}}secondary{{/if}}">{{button.text}}
                                    </a>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/with}}

            <div class="row">
                <div class="col">
                    {{#with userInfo}}
                    <h2 class="mb-4">{{title}}</h2>
                    <div class="card mb-4">
                        <div class="card-body">
                            {{#with profileData}}
                            <h3 class="card-title">{{title}}</h3>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        {{#with fullName}}
                                        <div class="col-4">
                                            {{#with surname}}
                                            <div>{{title}}</div>
                                            <strong>{{value}}</strong>
                                            {{/with}}
                                        </div>
                                        <div class="col-4">
                                            {{#with name}}
                                            <div>{{title}}</div>
                                            <strong>{{value}}</strong>
                                            {{/with}}
                                        </div>
                                        <div class="col-4">
                                            {{#with middleName}}
                                            <div>{{title}}</div>
                                            <strong>{{value}}</strong>
                                            {{/with}}
                                        </div>
                                        {{/with}}
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        {{#with otherInfo}}
                                        <div class="col-4">
                                            {{#with birthday}}
                                            <div>{{title}}</div>
                                            <strong>{{value}}</strong>
                                            {{/with}}
                                        </div>
                                        <div class="col-4">
                                            {{#with sex}}
                                            <div>{{title}}</div>
                                            <strong>{{value}}</strong>
                                            {{/with}}
                                        </div>
                                        <div class="col-4">
                                            {{#with language}}
                                            <div>{{title}}</div>
                                            <strong>{{value}}</strong>
                                            {{/with}}
                                        </div>
                                        {{/with}}
                                    </div>
                                </div>
                            </div>
                            {{/with}}
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        {{#each buttons}}
                                        <div class="col-4">
                                            {{#if isPrimary}}
                                            <button class="btn btn-primary btn-sm">
                                                <a href="{{link}}" class="nav-link">
                                                    {{text}}
                                                </a>
                                            </button>
                                            {{else if isSecondary}}
                                            <button class="btn btn-outline-secondary btn-sm">
                                                <a href="{{link}}" class="nav-link">
                                                    {{text}}
                                                </a>
                                            </button>
                                            {{else if isDanger}}
                                            <button class="btn btn-outline-danger btn-sm">
                                                <a href="{{link}}" class="nav-link">
                                                    {{text}}
                                                </a>
                                            </button>
                                            {{/if}}
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            {{#with recipients}}
                            <h2 class="card-title">{{title}}</h2>

                            <div class="row">
                                {{#each users}}
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col">
                                                <strong>{{name}}</strong>
                                            </div>
                                            <span>{{phone}}</span>
                                            <a href="{{button.link}}" class="btn btn-primary">{{button.text}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            {{/with}}
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            {{#with contacts}}
                            <h5 class="card-title">{{title}}</h5>

                            <div class="row">
                                {{#each contactData}}
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div>{{title}}</div>
                                            <strong>{{value}}</strong>
                                            <a href="{{button.link}}"
                                                class="btn btn-{{#if button.isPrimary}}primary btn {{else if button.isSecondary}}outline-secondary {{else if button.isDanger}}outline-danger{{/if}}">{{button.text}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
    </div>
    </main>

    <hr>
    <div class="row">
        {{> footer-2 footer=footer}}
    </div>
</div>
</div>